.headerMenu {
    justify-content: space-between;
    display: flex;
}

.homeTitle {
font-family: 'Quicksand';
margin-right: 20px;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: #FFFFFF;
}

.homeTitle:hover {
    color: #fd8c03;
    border-bottom: 4px double #fd8c03;
}

.homeTitle.active {
    color: white;
    border-bottom: 4px double white;
}

.homeTitle.active:hover {
    color: #fd8c03;
    border-bottom: 4px double #fd8c03;
}


.registerTitle{
font-family: 'Quicksand';
margin-right: 20px;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: #FFFFFF;
}

.loginTitle{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: #FFFFFF;
}

