

.label{
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #000000;
}

.form{
    background: #F9A826;
padding: 40px;
width: fit-content;
border-radius: 20px 20px 20px 20px;
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapForm {
display: flex;
flex-direction: column;
align-items: inherit;
padding: 0px;
gap: 5px;

width: 319.01px;

flex: none;
order: 1;
flex-grow: 0;
}


.title{
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: #FFFFFF;
}


.loginBtn{
width: 319px;
height: 50px;
left: 0px;
top: 0px;
background: #FFFFFF;
border-radius: 50px;

font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #000000;
}

.loginInput{
    width: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0);
    border: rgba(0,0,0,0);
    border-bottom: 1px solid #000000;
    font-size: 17px;
    line-height: 1.17;
}

.mailForm {
    margin-bottom: 20px;
}

.passwordForm {
  margin-bottom: 20px;  
}