.homeTitle {
    font-family: 'Quicksand';
    margin-right: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.homeText {
    font-family: 'Quicksand';
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.link {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    border-bottom: 4px double #fd8c03;
}


.link:hover {
    color: #fd8c03;
    
}